---
name: Pre-Commit
on:
  merge_group:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master
  schedule:
    # Run once a week (see https://crontab.guru)
    - cron: "0 0 * * 0"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  DEBIAN_FRONTEND: noninteractive
  GO_VERSION: 1.23.12
  PYTHON_VERSION: 3.13.3

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write
  security-events: write

jobs:
  pre-commit:
    name: Update pre-commit hooks and run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Install Go tools
        run: |
          # Install shfmt
          go install mvdan.cc/sh/v3/cmd/shfmt@latest

          # Install goimports (pinned to last version supporting Go 1.23)
          go install golang.org/x/tools/cmd/goimports@v0.30.0

          # Install gocyclo
          go install github.com/fzipp/gocyclo/cmd/gocyclo@latest

          # Install golangci-lint
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "$(go env GOPATH)/bin"

          # Install gocritic (pinned to last version supporting Go 1.23)
          go install github.com/go-critic/go-critic/cmd/gocritic@v0.11.5

          # Add Go bin directory to PATH
          echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"

      - name: Install pre-commit
        run: python3 -m pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files
